#colorPanelWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  padding: 0.5%;
}

#colorPanelWrapper div {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  cursor: pointer;
}
