html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

h1 {
  font-size: 4vh;
  padding-top: 1.5vh;
  margin-top: 0vh;
  font-family: 'Voces', cursive;
}

.galleryPage {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.title a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.title p {
  padding: 0%;
  margin: 0%;
}

.title p:hover {
  color: #d50000;
}

.title a:link {
  color: black;
}

.title a:visited {
  color: black;
}

.title a:active {
  color: black;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 2.2vh;
  overflow: hidden;
  padding-left: 1.3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  transition: all 0.3s linear;
  width: 12vw;
  position: absolute;
  left: -14vw;
}

#navbar a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

#navbar p {
  padding: 0%;
  margin: 0%;
}

#navbar p:hover {
  /*color: black;*/
  color: #d50000;
}

#navbar a:link {
  color: black;
}

#navbar a:visited {
  color: black;
}

#navbar a:active {
  color: black;
}

.navbarPages {
  padding-left: 2vh;
}

.navbarPages a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.navbarPages p {
  padding: 0%;
  margin: 0%;
}

.navbarPages p:hover {
  color: red;
}

.navbarPages a:link {
  color: black;
}

.navbarPages a:visited {
  color: black;
}

.navbarPages a:active {
  color: black;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Picture1 {
  /*width: 8vw;
  height: 8vw;
  padding: 1%;
  filter: saturate(0.4);
  border-radius: 5px;*/
  display: none;
}

#Picture2 {
  width: 16vw;
  height: 16vw;
  padding: 1%;
  filter: saturate(0.6);
  border-radius: 5px;
}

#Picture3 {
  width: 32vw;
  height: 32vw;
  padding: 1%;
  filter: saturate(1);
  border-radius: 5px;
}

#Picture4 {
  width: 16vw;
  height: 16vw;
  padding: 1%;
  filter: saturate(0.6);
  /*border: 5px outset gray;*/
  border-radius: 5px;
}

#Picture5 {
  /*width: 8vw;
  height: 8vw;
  padding: 1%;
  filter: saturate(0.4);
  border-radius: 5px;*/
  display: none;
}

#Picture6 {
  /*width: 8vw;
  height: 8vw;
  padding: 1%;
  filter: saturate(0.4);
  border-radius: 5px;*/
  display: none;
}

#Picture7 {
  display: none;
}

#Picture8 {
  display: none;
}

#Picture9 {
  display: none;
}

.menu i {
  transition: all 0.3s linear;
  color: black;
}

.menu i:hover {
  color: #d50000;
}

.buttons i {
  transition: all 0.3s linear;
  color: black;
  padding: 20%;
  font-size: 200%;
}

.buttons i:hover {
  cursor: pointer;
  color: #d50000;
}

.buttons {
  font-size: 2vh;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  width: 5%;
  display: inline-block;
}

#menu {
  font-size: 4vh;
  padding-top: 2vh;
  padding-left: 1.3vw;
  padding-right: 1vh;
  float: left;
}
