html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

header h1 {
  padding-bottom: 0vh;
  font-size: 4vh;
  align-items: center;
  justify-content: center;
  font-family: 'Voces', cursive;
}

h1 {
  font-size: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  font-family: 'Voces', cursive;
}

h2 {
  font-size: 3vh;
  padding-left: 1vw;
  padding-top: 1.5vh;
  margin-top: 0vh;
  transition: all 0.3s linear;
  font-family: 'Voces', cursive;
}

#back a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

#back p {
  padding: 0%;
  margin: 0%;
}

#back p:hover {
  cursor: pointer;
  color: #d50000;
}

#back a:link {
  color: black;
  display: inline;
}

#back a:visited {
  color: black;
}

#back a:active {
  color: black;
}

.taxiPage {
  background: url('../images/islandWallpaper.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#navbar {
  font-size: 2.2vh;
  overflow: hidden;
  padding-left: 1.3vw;
  transition: all 0.3s linear;
  width: 40vh;
  position: absolute;
}

#navbar a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

#navbar p {
  padding: 0%;
  margin: 0%;
}

#navbar p:hover {
  color: #d50000;
}

#navbar a:link {
  color: black;
}

#navbar a:visited {
  color: black;
}

#navbar a:active {
  color: black;
}

.navbarPages {
  padding-left: 2vh;
}

.navbarPages a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.navbarPages p {
  padding: 0%;
  margin: 0%;
}

.navbarPages p:hover {
  color: red;
}

.navbarPages a:link {
  color: black;
}

.navbarPages a:visited {
  color: black;
}

.navbarPages a:active {
  color: black;
}

#menu {
  font-size: 4vh;
  padding-top: 2vh;
  padding-left: 1.3vw;
  padding-right: 1vh;
  float: left;
}

.pictureMap {
  height: 80vh;
  width: 50vh;
  float: right;
  margin-right: 10%;
}

.taxiPic {
  padding-top: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#taxi {
  width: 50vh;
  position: absolute;
  cursor: pointer;
}

#circle {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100vw;
  background-color: black;
  transition: transform 1000ms;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.menu i {
  transition: all 0.3s linear;
  color: black;
}

.menu i:hover {
  cursor: pointer;
  color: #d50000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.historyTaxiContent {
  display: flex;
  margin: 0 0.2vw;
  margin-top: 7vh;
}

.late {
  flex-wrap: wrap;
  flex: 50%;
  max-width: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  margin: 5vw;
  /*width: 49%;*/
}

.mid {
  flex: 50%;
  max-width: 50%;
  background-color: rgba(255, 0, 0, 0.7);
  margin: 5vw;
  /*width: 49%;*/
}

.historyTaxiContent p {
  padding: 0.5vw;
  text-align: justify;
  font-size: 1.7vh;
  margin-top: 0vh;
  color: black;
  font-family: 'Voces', cursive;
}
