html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

h1 {
  font-size: 4.2vh;
  padding-left: 2%;
  padding-top: 1%;
  margin-top: 0%;
  font-family: 'Voces', cursive;
}

#uhr {
  font-size: 200%;
  float: right;
}

.clock {
  font-size: 2.6vh;
  padding-right: 2%;;
  font-family: 'Voces', cursive;
  float: right;
}

.clock h3 {
  margin: 0%;
}

.clock p {
  margin: 0%;
}

.title a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.title p {
  padding: 0%;
  margin: 0%;
}

.title p:hover {
  color: #d50000;
}

.title a:link {
  color: black;
  display: inline;
}

.title a:visited {
  color: black;
}

.title a:active {
  color: black;
}

#page1 {
  background: url('../images/newyork_wallpaper_01.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.islandPage {
  background: url('../images/islandWallpaper.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactPage {
  background: url('../images/skyline.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.flightPage {
  background: url('../images/airport.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.subwayPage {
  background: url('../images/islandWallpaper.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.taxiPage {
  background: url('../images/islandWallpaper.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.galleryPage {
  background-color: grey;
  height: 100vh;
  background-repeat: no-repeat;
}

.timesPage {
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#navbar {
  font-size: 2.2vh;
  overflow: hidden;
  padding-left: 2vh;
  transition: all 0.3s linear;
  width: 40vh;
}

#navbar a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

#navbar p {
  padding: 0%;
  margin: 0%;
}

#navbar p:hover {
  color: red;
}

#navbar a:link {
  color: black;
}

#navbar a:visited {
  color: black;
}

#navbar a:active {
  color: black;
}

.navbarPages {
  padding-left: 2vh;
}

.navbarPages a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.navbarPages p {
  padding: 0%;
  margin: 0%;
}

.navbarPages p:hover {
  color: red;
}

.navbarPages a:link {
  color: black;
}

.navbarPages a:visited {
  color: black;
}

.navbarPages a:active {
  color: black;
}

#content {
  background: url('../images/newyork_wallpaper_03.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.textBox {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 2vh;
  margin-top: 2vh;
  text-align: justify;
  float: right;
  margin-right: 2%;
  width: 80vh;
  height: 56vh;
}

.historyText {
  font-size: 2.2vh;
  margin-top: 0vh;
  color: black;
  font-family: 'Voces', cursive;
}

.islandText {
  font-size: 2.2vh;
  width: 80vh;
  height: 54vh;
  text-align: justify;
  float: right;
  margin-right: 4%;
  font-family: 'Voces', cursive;
}

.islandText p {
  padding-top: 0%;
  margin-top: 0%;
}

.timesPage h1 {
  padding-top: 2.5vh;
  font-size: 4.3vh;
  font-family: 'IM Fell English SC', serif;
}

.timesPage .menu {
  font-family: 'IM Fell English SC', serif;
}

.timesText {
  font-size: 2.2vh;
  width: 80vh;
  height: 54vh;
  text-align: justify;
  float: right;
  margin-right: 4%;
  font-family: 'IM Fell English SC', serif;
}

.timesText p {
  padding-top: 0%;
  margin-top: 0%;
  font-family: 'IM Fell English SC', serif;
}

.timesText a p {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  width: 100%;
  background-color: black;
}

.timesText a p:hover {
  color: red;
}

.timesText a:link {
  color: black;
}

.timesText a:visited {
  color: black;
}

.timesText a:active {
  color: black;
}

img {
  width: 5%;
  display: inline-block;
}

#menu {
  float: left;
}

.pictureMap {
  height: 80vh;
  width: 50vh;
  float: right;
  margin-right: 10%;
}

/*video {
  align-items: center;
  padding-left: 12%;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  font-size: 200%;
  padding-left: 2%;
}

.social a {
  padding: 0.5%;
  list-style-type: none;
  text-decoration:none;
}

.social a:link {
  color: black;
}

.social a:hover {
  color: black  ;
}

.social a:visited {
  color: black;
}

.social a:active {
  color: black;
}*/

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  font-size: 4.5vh;
  color: black;
}

.arrow i:hover {
  color: #d50000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5%;
  font-family: 'IM Fell English SC', serif;
  font-size: 10vh;
}
