html {
  scroll-behavior: smooth;
}

body {
  margin: 0%;
}

h1 {
  width: auto;
  font-size: 4vh;
  padding-top: 1.35vh;
  margin-top: 0vh;
  transition: all 0.3s linear;
  font-family: 'Voces', cursive;
}

#uhr {
  font-size: 5vh;
  float: right;
  position: absolute;
}

.clock {
  font-size: 2.6vh;
  padding-right: 1.5vw;
  font-family: 'Voces', cursive;
  float: right;
}

.clock h3 {
  margin: 0%;
}

.clock p {
  margin: 0%;
}

.title a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.title p {
  transition: all 0.3s linear;
  width: auto;
  padding: 0%;
  margin: 0%;
}

.title p:hover {
  cursor: pointer;
  color: #d50000;
}

.title a:link {
  color: black;
  display: inline;
}

.title a:visited {
  color: black;
}

.title a:active {
  color: black;
}

#page1 {
  background: url('../images/newyork_wallpaper_01.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutPage {
  background: url('../images/clouds.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.flightPage {
  background: url('../images/airport.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.subwayPage {
  background: url('../images/islandWallpaper.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.taxiPage {
  background: url('../images/taxibackground.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-position: center;
}

.galleryPage {
  background: black;
  height: 100vh;
  background-repeat: no-repeat;
}

.timesPage {
  background: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#navbar {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 2.2vh;
  overflow: hidden;
  padding-left: 1.3vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  transition: all 0.3s linear;
  width: 12vw;
  position: absolute;
  left: -14vw;
}

#navbar a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

#navbar p {
  transition: all 0.25s linear;
  padding: 0%;
  margin: 0%;
}

#navbar p:hover {
  /*color: black;*/
  color: #d50000;
}

#navbar a:link {
  color: black;
}

#navbar a:visited {
  color: black;
}

#navbar a:active {
  color: black;
}

.navbarPages {
  padding-left: 2vh;
}

.navbarPages a {
  text-decoration: none;
  font-family: 'Voces', cursive;
}

.navbarPages p {
  padding: 0%;
  margin: 0%;
}

.navbarPages p:hover {
  color: red;
}

.navbarPages a:link {
  color: black;
}

.navbarPages a:visited {
  color: black;
}

.navbarPages a:active {
  color: black;
}

#content {
  background: url('../images/newyork_wallpaper_03.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.textBox {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 2vh;
  margin-top: 2vh;
  text-align: justify;
  float: right;
  margin-right: 2vw;
  width: 40vw;
}

.historyText {
  font-size: 1.9vh;
  color: black;
  font-family: 'Voces', cursive;
}

.textBoxAbout {
  width: 60vw;
  margin: 0 auto;
  padding: 1vw;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.7vh;
  font-family: 'Voces', cursive;
}

.textWrapperAbout {
  float: right;
  margin-top: 0%;
  padding-top: 0%;
}

.aboutText {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 2vh;
  width: 30vw;
  /* margin-bottom: 4.5vh; */
}

.taskText {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2vh;
  width: 30vw;
}

.socialAbout {
  font-size: 1vw;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Voces', cursive;
}

.mePic img {
  width: 20vw;
  margin: 0%;
  padding: 0%;
}

.socialAbout p {
  transition: all 0.5s linear;
  text-align: center;
  width: 10vw;
  padding: 0.5vh;
  margin: 0%;
  margin: 0 auto;
}

.socialAbout p:hover  {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
}

.socialAbout a {
  padding: 0.5vh;
  list-style-type: none;
  text-decoration:none;
}

.socialAbout a:link {
  color: black;
}

.socialAbout a:visited {
  color: black;
}

.socialAbout a:active {
  color: black;
}

.islandText p {
  padding-top: 0%;
  margin-top: 0%;
}

.timesPage h1 {
  font-size: 4vh;
  padding-top: 1.7vh;
  margin-top: 0vh;
  font-family: 'IM Fell English SC', serif;
}

.timesPage .menu {
  font-family: 'IM Fell English SC', serif;
}

.timesText {
  padding-top: 2vh;
  font-size: 2vh;
  width: 80vh;
  height: 54vh;
  text-align: justify;
  float: right;
  margin-right: 4%;
  font-family: 'IM Fell English SC', serif;
}

.timesText p {
  padding-top: 0%;
  margin-top: 0%;
  transition: all 0.3s linear;
  font-family: 'IM Fell English SC', serif;
}

.timesText a p {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 1%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.timesText a {
  text-decoration: none;
}

.timesText a p:hover {
  color: #d50000;
}

.timesText a:link {
  color: black;
}

.timesText a:visited {
  color: black;
}

.timesText a:active {
  color: black;
}

/* #timesLogo {
  margin-left: 30vw;
} */

/* #youtube {
  padding-left: 14.8vw;
  width: auto;
  height: auto;
  user-select: none;
} */

img {
  width: 5%;
  display: inline-block;
}

#menu {
  font-size: 4vh;
  padding-top: 2vh;
  padding-left: 1.3vw;
  padding-right: 1vh;
  float: left;
}

.pictureMap {
  height: 80vh;
  width: 50vh;
  float: right;
  margin-right: 10%;
}

/*.taxiPic {
  width: 100vw;
}*/

/* #circle {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10000px;
  background-color: black;
  transition: transform 700ms;
  cursor: po
} */

#taxi {
  position: absolute;
  margin-left: 35.4vw;
  margin-top: 58.3vh;
  width: 2.5vw;
  height: 2.5vh;
  cursor: pointer;
  /* z-index: 1; */
  background-color: white;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

video {
  align-items: center;
  padding-left: 12%;
}

.menu i {
  transition: all 0.3s linear;
  color: black;
}

.menu i:hover {
  cursor: pointer;
  color: #d50000;
}

.arrow i {
  transition: all 0.3s linear;
}

.arrow {
  display: flex;
  justify-content: center;
  font-size: 4.5vh;
  color: black;
}

.arrow i:hover {
  color: #d50000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5%;
  font-family: 'IM Fell English SC', serif;
  font-size: 10vh;
}

.footer a {
  text-decoration: none;
}

.footer p {
  transition: all 0.3s linear;
}

.footer a p:hover {
  color: #d50000;
}

.footer a:link {
  color: black;
}

.footer a:visited {
  color: black;
}

.footer a:active {
  color: black;
}
